.categories-selector {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.categories-selector button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: none;
  cursor: pointer;
  background: #fa4a0c;
  color: white;
  border-radius: 35px;
}
