#search-bar {
  width: 300px;
  height: 20px;
  box-shadow: none;
  background-color: rgb(235, 235, 235);
  font-size: 14px;
  height: 30px;
  margin: 5px 0;
  padding-right: 26px;
  padding-left: 10px;
  -webkit-border-radius: 3px;
  /* For Safari, etc. */
  -moz-border-radius: 3px;
  /*For Mozilla, etc.*/
  border-radius: 3px;
  /*CSS3 Feature*/
}
.icon-search {
  position: relative;
  left: -30px;
}
